@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', 'Outfit', sans-serif;
}

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area *,
  #print-area-parent, #print-area-parent * {
    visibility: visible;
  }
  #print-area, #print-area-parent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}

/* Disable mirroring for all HTML5 QR Code scanners */
#qr-reader video,
#punish-qr-reader video,
#poinku-qr-reader video {
  transform: none !important;
}

